<div class = "top-face">
  <p>家事を手伝って<br>人の家に住もう！</p>
  
</div>

<% @posts.each do |post| %>
  <%= render partial: "post", locals: { post: post } %>
<% end %>

<div class="text-center">
<%= paginate(@posts) %>
</div>

<div class = footer>
  <p>SUMUKA</p>
</div>
