.contants{
  
  // width: 100%;
  .contants-list{
    display: flex;
    justify-content: space-between;
    margin: 10px ;
  }
}
.footer{
  height: 50px;
  text-align: center;
  .aaa{
  color: white;
  font-weight: bold;
  }
}